header{
	background-color: #F9CF17;
	width: 100%;
	padding: 40px;
	text-align: center;
	margin-bottom: 9px;
	color: white;
}

footer{
	background: #F9CF17;
	padding: 2%;
	text-align: center;
	bottom: 0px;
	width: 100%;
	position: ;
	color: white;
}

